/*
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
*/
$xs: 0; 
$sm: 576px; //34em
$md: 768px; //48em
$lg: 992px; //62em
$xl: 1200px;//75em

@media screen and (min-width: 1265px){
	.articles{
		margin-top: 2%;
		margin-left: 22%;
	}
	.articles-nav{
		
	}
	.articles-nav-link{
		border-bottom: 2px solid transparent;
	    color: #586069;
	    font-size: 22px;
	    line-height: 1.5;
	    margin-right: 16px;
	    padding: 16px 8px;
	    text-align: center;
	    a {
	    	color: #586069;
	    }
	    a:hover {
	    	color: #363a3f !important;
	    }
	}
	.articles-nav-link:hover{
		border-bottom: 2px solid #000000;
	}
	.articles-nav-link .selected {
	    border-bottom-color: #e36209;
	    color: #24292e;
	    font-weight: 600;
	}
	.articles-nav-link .Counter {
	    background-color: rgba(27,31,35,.08);
	    border-radius: 20px;
	    color: #586069;
	    display: inline-block;
	    font-size: 12px;
	    font-weight: 600;
	    line-height: 1;
	    padding: 2px 5px;
	}
	.article-wrapper{

	}
	.article{
		/* width: 80%; */
	}
	.article-tag{
		background-color: #f1f8ff;
	    border-radius: 3px;
	    display: inline-block;
	    margin: 0 .5em .5em 0;
	    padding: .3em .9em;
	    white-space: nowrap;
	    font-size: 12px!important;
	    margin-bottom: 4px!important;
		margin-top: 4px!important;
		color: #0366d6;
    	text-decoration: none;
	}
	.article-meta{
		display: block;
		color: #586069;
		font-size: 12px;
	}
}



.border-bottom {
    border-bottom: 1px solid #e1e4e8!important;
}
