/*
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
*/
$xs: 0; 
$sm: 576px; //34em
$md: 768px; //48em
$lg: 992px; //62em
$xl: 1200px;//75em

@media screen and(min-width: 992px){
}

$pc-bg-color: #e7c4c433;
.page-content{
	order: 0;
	//background-color:$pc-bg-color;
	@media screen and(min-width: 768px){
		.home {
 		   width: 80%;
  	 	   margin: auto;
	           .post-list-heading {
 			  // text-align: center;
			  margin-left: 2em;
		   }
		   .post-link {
			         text-align: center;
			         font-size: larger;
				 border-bottom: 0.1em solid #0000001a;
				 color: #606004;
			       } 
	   	}
		.post-infos{
			width: 100%;
			display: -webkit-flex;
			display: flex;
			justify-content: space-around;
			.post-categories {
    				//display: inline;
			}
			.post-tags{
				//display: inline;
			}
			.post-meta{
				//display: inline;
				//text-align: center;
			}
		}		
		.pagination {
		    text-align: center;
		    display: block;
		}
				
		
 	 }
}
$ps-bg-color: #e77f04;

.page-sidebar {
  background-color: $ps-bg-color;
  order: 1;
  overflow: auto;
  border-bottom: 1px solid rgba(0,0,0, .1);
  @media screen and(min-width: 1200px){
    top: 0rem;
    z-index:1000;
    height:100vh;
    border-left: 1px solid rgba(0, 0, 0, .1);
    .info-links{
   	padding-top: 2rem;
      	.card-title{
		color: #120d0d;
		font-size: 6rem;
		text-align: center;
		background-color: #23a7da;
	}	
    }
 }
}
