---
layout: default
title: 所有的种类以及该种类的数量
date: 2019-06-15 14:20:00 +0800 
description: 关于页面内容中的文章类型
permalink: /categories
---
{%- include bearlife/components/userinfo.html -%}
<div class="articles">
  <ul class="articles-nav border-bottom row">
      <li class="articles-nav-link float-left h3 ">
        <a  href="/"> Overview <span class="Counter"> {{ site.posts|size }}</span></a>
      </li>
      <li class="articles-nav-link float-left h3"> 
        <a class="selected" href="/categories">Categories <span class="Counter"> {{ site.categories|size }}</span></a>
      </li>
      <li class="articles-nav-link float-left h3">
        <a href="/tags">Tags <span class="Counter"> {{ site.tags |size }}</span></a>
      </li>
      <li class="articles-nav-link float-left h3">
        <a href="/site/pages">Pages</a>
      </li>
      <li class="articles-nav-link float-left h3">
        <a href="/site/posts">Posts</a>
      </li>
  </ul>


{% assign site_categories = site.posts | map: 'categories' %}
{% assign uniq_categories = site_categories | uniq %}

{% assign temp_categories = site_categories | join: ' '%}
{% assign all_categories = temp_categories | split: ' '%}

<table>
	<tr>
		<th>名称</th>
		<th>数量</th>
	</tr>
{% for category  in uniq_categories %}
    {% assign i = 0 %}
    {% for s_c  in all_categories %}
        {% if s_c == category %}
            {% assign i= i|plus: 1 %}
        {% endif %}
    {% endfor %}   
    <tr>
    	<td>
        {{category}}
      </td>
    	<td>{{ i }} </td>
    </tr>
{% endfor %}
</table>
</div>
