---
layout: default
title: 所有的标签和包含该标签的内容的数量
date: 2019-06-15 18:20:00 +0800 
description: 关于页面内容中的文章的标签
permalink: /tags
---
{%- include bearlife/components/userinfo.html -%}
<div class="articles">
  <ul class="articles-nav border-bottom row">
      <li class="articles-nav-link float-left h3 ">
        <a  href="/"> Overview <span class="Counter"> {{ site.posts|size }}</span></a>
      </li>
      <li class="articles-nav-link float-left h3"> 
        <a class="selected" href="/categories">Categories <span class="Counter"> {{ site.categories|size }}</span></a>
      </li>
      <li class="articles-nav-link float-left h3">
        <a href="/tags">Tags <span class="Counter"> {{ site.tags |size }}</span></a>
      </li>
      <li class="articles-nav-link float-left h3">
        <a href="/site/pages">Pages</a>
      </li>
      <li class="articles-nav-link float-left h3">
        <a href="/site/posts">Posts</a>
      </li>
  </ul>


{% assign site_tags = site.posts | map: 'tags' %}
{% assign uniq_tags = site_tags | uniq %}

{% assign temp_tags = site_tags | join: ' '%}
{% assign all_tags = temp_tags | split: ' '%}

<table>
	<tr>
		<th>名称</th>
		<th>数量</th>
	</tr>
{% for tag  in uniq_tags %}
    {% assign i = 0 %}
    {% for s_c  in all_tags %}
        {% if s_c == tag %}
            {% assign i= i|plus: 1 %}
        {% endif %}
    {% endfor %}   
    <tr>
    	<td>{{ tag }}</td>
    	<td>{{ i }} </td>
    </tr>
{% endfor %}
</table>
<div class="leetcode">
  <a href="/leetcode/python">leetcode算法学习</a>
</div>
</div>
