---
layout: default
---
{%- include bearlife/components/userinfo.html -%}
<div class="articles">
  <ul class="articles-nav border-bottom row">
      <li class="articles-nav-link float-left h3 ">
        <a class="selected" href="/"> Overview <span class="Counter"> {{ site.posts|size }}</span></a>
      </li>
      <li class="articles-nav-link float-left h3"> 
        <a  href="/categories">Categories <span class="Counter"> {{ site.categories|size }}</span></a>
      </li>
      <li class="articles-nav-link float-left h3">
        <a href="/tags">Tags <span class="Counter"> {{ site.tags |size }}</span></a>
      </li>
      <li class="articles-nav-link float-left h3">
        <a href="/site/pages">Pages</a>
      </li>
      <li class="articles-nav-link float-left h3">
        <a href="/site/posts">Posts</a>
      </li>
  </ul>
  {{ content }}
  {%- if site.posts.size > 0 -%}
    <ul class="articles-lists row">
      {%- for post in paginator.posts -%}
      <li class="article-wrapper border-bottom col-12">
        <div class="article">
            <h3>
              <a href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            <div class="article-content">
            {%- if post.description -%}
              {{ post.description}}
            {%- else -%}
              {{ post.excerpt }}
            {%- endif -%}
            </div>
            <div class="article-tags-container">
              {%- for tag in post.tags -%}
              <a class="article-tag" href="/tag/{{tag}}"> {{ tag }} </a>
              {%- endfor -%}
            </div>
            <div class="article-meta">
             <a class="article-categories" href="/categories/{{post.categories}}">{{post.categories}}</a>
              update on <span class="article-title" title="{{ post.date }}">{{ post.date | date: "%b %Y" }}</span>
            </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
  <div class="page-pagination">
  	{% if paginator.total_pages > 1 %}
		<div class="pagination">

	 	 {% if paginator.previous_page %}
		    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
		 {% else %}
		    <span>&laquo; Prev</span>
	 	 {% endif %}

  		{% for page in (1..paginator.total_pages) %}
    		 {% if page == paginator.page %}
      		 <em>{{ page }}</em>
    		 {% elsif page == 1 %}
      		 <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    		 {% else %}
      	 	 <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    		 {% endif %}
  		{% endfor %}

   	{% if paginator.next_page %}
    	<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  	{% else %}
    	<span>Next &raquo;</span>
  	{% endif %}
	</div>
	{% endif %} 
</div>
